body {
  padding: 20px;
}

.cook-view tr {
  vertical-align: top;
}

.cook-view {
  border: 3px solid lightblue
}

td .recipe-summary {
  border-right: 4px white solid;
}

td .step {
  position: relative
}

.step {
  padding: 20px;
  background-color: navy;
  color: white;
  position: relative
}

.recipe-summary {
  background-color: navy;
  color: white;
  padding: 20px;
  display: inline-block;
  position: relative
}