.cook-view {
  /* border: red 2px solid; */
  height: 100%;
  display: flex;
  background-color: navy;
  color: white;
  flex: 1;
  margin: 10px
}

.step-slide {
  flex: 2;
  padding: 20px;
}

.recipe-summary {
  flex: 1;
  border-right: 7px white solid;
  padding: 20px;
  display: inline-block;
}

.step-slide button {
  background-color: red;
  margin: 10px;
}