body {
  height: 100%
}

.app-container {
  height: 100%
}

.cook-view tr {
  vertical-align: top;
}

table.cook-view {
  border: red 2px solid;
  height: 100%;
  display: flex;
  background-color: navy;
  color: white;
}

td .recipe-summary {
  border-right: 7px white solid;
}

.step {
  padding: 20px;
  position: relative
}

.recipe-summary {
  padding: 20px;
  display: inline-block;
  position: relative
}